<h2><%= translate 'activerecord.models.title'%></h2>

 <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= devise_error_messages! %>

  <div class="card">
    <div class="card-tabs">
      <ul class="tabs">
        <li class="tab"><a class="active" href="#users"><%= translate 'activerecord.models.profile'%></a></li>
        <li class="tab"><a href="#change_account"><%= translate 'activerecord.models.account'%></a></li>
      </ul>
    </div>

    <div class="card-content lighten-4">
      <div id="users" class="col s12">
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
          <div class="row">
            <div class="col m3 s4">
              <img id="image_upload_preview" class="responsive-img" /><br>
            </div>
          </div>
        </div>

       <% if @user.avatar.attached? %>
          <div class="row">
              <div class="col m3 s4">
                <%= link_to image_tag(@user.avatar, style:'width:50%'), user_session_path %>
              </div>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :age %><br />
          <%= f.text_field :age, type: "number"%>
        </div>

        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_area :description, class:'materialize-textarea', size:'5x5' %>
        </div>

        <h4><%= translate 'activerecord.models.my_list'%></h4>
        <div id="user_information_types">
          <%= f.fields_for :user_information_types do |user_information_type| %>
            <%= render 'user_information_type_fields', f: user_information_type %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "#{translate 'devise.shared.links.add'}", f, :user_information_types, id:"link_add", class: "btn waves-effect waves-light blue right white-text" %>
            <br><br>
          </div>
        </div>

         <div class="field">
          <h1 class = "text-center"><%= translate 'activerecord.models.interests'%></h1>
            <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name,  class: 'chosen-select' , input_html: {multiple: true} %>
        </div>

        <div class="actions">
          <%= f.submit "#{translate 'devise.registrations.edit.update'}", class:'btn waves-effect waves-light' %>
        </div>
      </div>

      <div id="change_account" class="col s12">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :current_password %> <i>(precisamos de sua senha atual para realizar estas mudanças)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="field">
          <%= f.label :password %> <i>(deixe em branco caso não queira alterar isto)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> minimo de caracteres</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <% end %>

        <h3><%= translate 'devise.registrations.edit.cancel_my_account'%></h3>

        <p><%= translate 'devise.registrations.edit.unhappy'%>
          <%= button_to "#{translate 'devise.registrations.edit.cancel_my_account'}", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, form_class:'btn waves-effect waves-light'  %>
        </p><br>

        <%= link_to "#{translate 'devise.shared.links.back'}", :back, class:'btn waves-effect waves-light'  %>
      </div>
    </div>
  </div>
