<!DOCTYPE html>
<html>
  <head>
    <title>EncontreMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p> Olá, <%= current_user.email %> </p>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <p><%= link_to 'Login', new_user_session_path %></p> 
    <% end %>
  </body>
</html>
